<h1>All Buckets</h1>
<hr />

<ul>
	<% @buckets.each do |bucket| %>
		<li><%= link_to "#{bucket.category}", bucket_path(bucket) %> | <%= link_to 'Edit Buket', edit_bucket_path(bucket) %> | <%= link_to 'Delete Buket', bucket_path(bucket), method: :destroy %> </li>
	<% end %>
</ul>