<div class="col m10 offset-m1">
<h1>Welcome to BUKET, <%= current_user.first_name %>!</h1>
<h3>Get started.</h3>
	<%= button_to 'New Buket', new_bucket_path, class: 'btn waves-effect waves-light', method: :get %> 
</div>

 <%# if @buckets.any? %>
 	<%# @buckets.each do |link| %>
 <%# link_to 'View All Buckets', buckets_path(current_user) %>
 <%# end %> 

 <%#s end %>